.red {
    color: red;
}

.bold {
    font-weight: bold;
}

/*.Cockpit button {*/
/*    background-color: green;*/
/*    color: white;*/
/*    font: inherit;*/
/*    border: 1px solid blue;*/
/*    padding: 16px;*/
/*    cursor: pointer;*/
/*}*/

/*.Cockpit button:hover {*/
/*    background-color: lightgreen;*/
/*    color: black;*/
/*}*/

/*.Cockpit button.Red {*/
/*    background-color: red;*/
/*}*/

/*.Cockpit button.Red:hover {*/
/*    background-color: salmon;*/
/*    color: black;*/
/*}*/
.Button {
    background-color: green;
    color: white;
    font: inherit;
    border: 1px solid blue;
    padding: 16px;
    cursor: pointer;
}

.Button:hover {
    background-color: lightgreen;
    color: black;
}

.Button.Red {
    background-color: red;
}

.Button.Red:hover {
    background-color: salmon;
    color: black;
}
