.SideDrawer {
    position: fixed;
    width: 280px;
    max-width: 70%; /* On super-narrow devices it won't go out of edges */
    height: 100%;
    left: 0;
    top: 0;
    z-index: 200;
    background-color: white;
    padding: 32px 16px;
    box-sizing: border-box;
    transition: transform 0.3s ease-out; /* to react on animation, it is important for opening and closing the side drawer */
}

@media (min-width: 500px) {
    .SideDrawer {
        display: none;
    }
}

.Open {
    transform: translateX(0); /* it will shift the sideDrawer into the position styled above*/
}

.Close {
    transform: translateX(-100%); /* it will shift it to the left*/
}

.Logo {
    height: 11%;
    margin-bottom: 32px;
}
